
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <title>Home Page</title>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/ScriptsMy/HomeScripts.js"></script>
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/StylesMy/BaseStyles.css" rel="stylesheet" />
    <link href="~/StylesMy/HomeStyles.css" rel="stylesheet" />
    
</head>
<body>
    <header>
        <div>
            <div id="head_title">
                <h4>
                    Person Dictionary
                </h4>
                <strong>
                    Login or registrer
                </strong>                
                <a href="/Account/Index">my account</a>
            </div>
            <div id="head_ico">
                <img src="~/PicturesContent/ico_app.png" width="55" height="65"
                      alt="ico">
                <p>You are welcome!</p>
            </div>
            <div>
                Authorize status: @ViewBag.AuthorizeStatus 
                
            </div>
        </div>    
    </header>
    <main id="Content AutoHeight">
        <div id="sign_up">
            <p> if you want to be a new user 
                @Ajax.ActionLink(linkText: "to sign up",
                actionName: "GetFormRegistration",
                ajaxOptions: new AjaxOptions
                {
                    UpdateTargetId = "logOrRegistPlace",
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    
                },
                routeValues: new { },
                htmlAttributes: new { Id = "link_reg" })
            </p>
        </div>
        <div id="sign_in">
            <p> if you have an account
                @Ajax.ActionLink(linkText:"to sign in",
                actionName:"GetFormLogin",
                ajaxOptions: new AjaxOptions
                {
                    UpdateTargetId = "logOrRegistPlace",
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace,
                    
                },
                routeValues: new { },
                htmlAttributes: new { Id = "link_log" })
            </p>
            
        </div>
        
        <div id="logOrRegistPlace">
        </div>
        
        <div id="img_loop" class="container">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <img src="~/PicturesContent/person01.png" alt="person" />
                </div>
                <div class="col-md-4">
                    <img src="~/PicturesContent/Arrow-toRight.png" alt="arrow to right" />
                </div>
                <div class="col-md-4">
                    <img src="~/PicturesContent/file04Blue.png" alt="notes" />
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <img src="~/PicturesContent/Arrow-toUp.png" alt="arrow to up" />
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <img src="~/PicturesContent/Arrow-toDown.png" alt="arrow to down" />
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <img src="~/PicturesContent/file05.png" alt="files" />
                </div>
                <div class="col-md-4">
                    <img src="~/PicturesContent/Arrow-toLeft.png" alt="arrow to left" />
                </div>
                <div class="col-md-4">
                    <img src="~/PicturesContent/db3.png" alt="database" />
                </div>
            </div>
            
        </div>
        
        <div id="promo">
            <p> 
                Diary - a collection of fragmentary records that
            are usually made in one book (notebook or on another media)
            for a certain period of time for themselves,
            are kept regularly and are often accompanied by a date
            (usually records that are "under this date" correspond to it).
            </p>
            <p> At the same time, diaries for different periods of time are,
            for obvious reasons, 
            located more often in different books (notebooks, etc.).
            </p>
            <p> 
                Such notes ("notes") organize individual experience and 
            as a written genre accompany
            the formation of individuality in culture,
            the formation of "I" - 
            in parallel with they develop forms 
            of memoirs and autobiographies.
                </p>            
            <p>Terms of diaries, memoirs, autobiographies are 
            "mutually intersecting genres,"
            up to the point that, for example, 
            in an autobiography,
            diaries can be cited for a period.
            </p>
        </div>
    </main>
    
   <footer id='footer_init'>
        <i>
            This is a footer of the page.
            <br />
            Here should be some general info about authors, dates, contacts.
        </i>
    </footer>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('.CloseForm').bind('click', function () {
            $('div#logOrRegistPlace').empty();
        });
        function setHeight() {
            var H = $('.AutoHeight').css({
                height: ($(window).height()) -
                    ($('header').css('height')) -
                    ($('footer').css('height')) + 'px'
            });
        }
        setHeight(); // устанавливаем высоту окна при первой загрузке страницы
        $(window).resize(setHeight); // обновляем при изменении размеров окна

    });
</script>

