
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" />
    <title>Home page</title>
    
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <link href="~/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/StylesDemo/Initial_styles.css" rel="stylesheet" />

    <link href="~/StylesDemo/Initial_styles.css" rel="stylesheet" />
    
    
</head>
<body>
    <header>
        <div>
            <div id="head_title">
                <h4>
                    Person Dictionary
                </h4>
                <strong>
                    Login or registrer
                </strong>
            </div>
            <div id="head_ico">
                <img src="~/StylesDemoContent/dict_az.png" width="55" height="65"
                      alt="ico">
                <span>You are welcome!</span>
            </div>
            <div>
                Authorize status: @ViewBag.AuthorizeStatus <span>   |   </span>
                Id_Trace: @ViewBag.Id_Trace
            </div>
        </div>    
    </header>
    <main id="Content">
        <div id="sign_up">
            <p> if you want to be a new user 
                @Ajax.ActionLink(linkText: "to sign up",
                actionName: "GetFormRegistration",
                ajaxOptions: new AjaxOptions
                {
                    UpdateTargetId = "logOrRegistPlace",
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace
                },
                routeValues: new { },
                htmlAttributes: new { Id = "link_reg" })
            </p>
        </div>
        <div id="sign_in">
            <p> if you have an account
                @Ajax.ActionLink(linkText:"to sign in",
                actionName:"GetFormLogin",
                ajaxOptions: new AjaxOptions
                {
                    UpdateTargetId = "logOrRegistPlace",
                    HttpMethod = "Get",
                    InsertionMode = InsertionMode.Replace
                },
                routeValues: new { },
                htmlAttributes: new { Id = "link_log" })
            </p>
            
        </div>
        <div id="logOrRegistPlace">

        </div>
        <br />
        <div id="img_dict">
            <img src="~/StylesDemoContent/dict_links.jpg" width="350" />
            <br/>
            <img src="~/StylesDemoContent/elect_links.jpg" width="350" />
        </div>
        
        <div id="promo">
            <p> 
                Diary - a collection of fragmentary records that
            are usually made in one book (notebook or on another media)
            for a certain period of time for themselves,
            are kept regularly and are often accompanied by a date
            (usually records that are "under this date" correspond to it).
            </p>
            <p> At the same time, diaries for different periods of time are,
            for obvious reasons, 
            located more often in different books (notebooks, etc.).
            </p>
            <p> 
                Such notes ("notes") organize individual experience and 
            as a written genre accompany
            the formation of individuality in culture,
            the formation of "I" - 
            in parallel with they develop forms 
            of memoirs and autobiographies.
                </p>            
            <p>Terms of diaries, memoirs, autobiographies are 
            "mutually intersecting genres,"
            up to the point that, for example, 
            in an autobiography,
            diaries can be cited for a period.
            </p>
        </div>
    </main>
    
   <footer id='footer_init'>
        <i>
            This is a footer of the page.
            <br />
            Here should be some general info about authors, dates, contacts.
        </i>
    </footer>
    
</body>
</html>
<script>
    $(document).ready(function ()
    {
        var footer = $(
            "<footer id='footer_init'><i>This is a footer of the page."+
            "<br/>"+
            "Here should be some general info about authors, dates, contacts." +
            "</i></footer>"
        );
        function FooterMoves()
        {
            footer.insertAfter("main#Content");
        }
        /*   
        $("#link_reg,#link_log").on('click', function ()
        {
            $("#footer_init").detach();
            FooterMoves();
            $("#footer_init").css('position', 'relative');
        });
        $("#link_log").on('click', function () {
            $("#footer_init").detach();
            FooterMoves();
            $("#footer_init").css('position', 'relative');
        });
        */
        //FooterMoves();
});
</script>
