
@using (Ajax.BeginForm("SendPasswordToEmail", "Home", new AjaxOptions
{
    UpdateTargetId = "RememberPasswordTags",
    InsertionMode = InsertionMode.Replace,

}))
{
    <div class="container form-group">
        <label for="mail_retrieve_field">Enter your email:</label>
        <input id="mail_retrieve_field" type="text" name="adress">
        <input type="submit" value="send My Password to Email" class="btn btn-sm"/>
    </div>
}
