
@using (Ajax.BeginForm("SendPasswordToEmail", "Home", new AjaxOptions
{
    UpdateTargetId = "RememberPasswordTags",
    InsertionMode = InsertionMode.Replace,

}))
{
    <div class="container">
        <input type="text" name="adress">
        <input type="submit" value="send My Password to Email" />
    </div>
}
