body {
    margin-left: 8%;
    margin-right: 8%;
    background-color:white;
}
header{
    background-color:#29d17d;
    height:100px; 
    border-bottom:solid;
    text-indent: 30px;
    padding-top:13px;
}

header i{
    font-size:12px;
}
#log_out_block {
    width: 30%;
    float:right;
    text-align:right;
}
#header_info {
    width: 70%;
    float:left;
}
#person_info{
    width:30%;
    float:right;
    clear: both;
    background-image:url(/StylesDemoContent/office_book_user.jpg);
    padding-left: 3em;
}
#person_info h3{
    text-align:center;
}
#Notes{
    width:70%;
}
#Notes h4{
    text-align:center;
}
