@model IEnumerable<PersonDictionary.Models.Note>
@using PersonDictionary.Infrastructure
<div class="container container-fluid">
    <table class="table table-hover">
        <thead>
            <tr class="row col-md-12 table-info">
                <td class="col-md-8">message</td>
                <td class="col-md-2">time</td>
                <td class="col-md-2">delete it</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ptr in Model)
            {
                <tr class="row col-md-12 table-success">
                    <td class="col-md-8">
                        @ptr.message
                    </td>
                    <td class="col-md-2">
                        @ptr.time
                    </td>
                    <td class="col-md-2">
                        @Html.ActionLink("delete", "DelNote",
                    routeValues: new { id = ptr.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

