@model IEnumerable<PersonDictionary.Models.Note>
@using PersonDictionary.Infrastructure
<div>
    <table class="container table">
        <thead>
            <tr class="row">
                <td class="col-md-5">message</td>
                <td class="col-md-2">time</td>
                <td class="col-md-2">delete it</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var ptr in Model)
            {
                <tr class="row">
                    <td class="col-md-5">
                        @ptr.message
                    </td>

                    <td class="col-md-2">
                        @ptr.time
                    </td>

                    <td class="col-md-2">
                        @Html.ActionLink("delete", "DelNote",
                    routeValues: new { id = ptr.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
        
</div>

