@model IEnumerable<PersonDictionary.Models.Note>
<div>
    @foreach (var ptr in Model)
    {
        <div id="@ptr.id">
            <p>@ptr.message</p> 
            <span>@ptr.time</span>
            <br />
            <a href="" onclick="DeleteNote(event, this)">delete</a>
        </div>
    }
</div>

